.button{
    width: 2%;
    margin-bottom: 1px;
}

.textfield{
    width: 50%;
}

.search{
    width: 50%;
}
.elementsNavBar{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

}